/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
  themes: bumblebee --default;
}

/* Override DaisyUI default label and placeholder styles */
.label-text {
  color: black !important;
}

input::placeholder {
  color: black !important;
  opacity: 0.5 !important;
}

/* Set focus border color to primary */
input:focus {
  border-color: #e5b400 !important;
  outline-color: transparent !important;
}
